@using KhaKhau.Models;
@model OrderDetailModal
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="/admin/css/orderdetails.css" rel="stylesheet" />
<div class="modal fade" id="modal-@Model.DivId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <i class='bx bx-package me-2'></i>
                    Chi tiết đơn hàng
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Loại</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tổng tiền</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.OrderDetail)
                    {

                        <tr>
                            <td>@item.Product.Name</td>
                            <td>
                                        <span class="badge bg-info">@item.Product.Category.Name</span>
                                    </td>
                            <td>@item.UnitPrice</td>
                            <td>@item.Quantity</td>
                            <td class="fw-bold text-primary">@(item.Quantity * item.UnitPrice)</td>
                        </tr>
                        <tr>
                          
                        </tr>
                    }
                        </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
